<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!-- META TAGS -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ICON -->
        <link rel="icon" href="/assets/catechesis-favicon.ico">
        
        <!-- TITLE -->
        <title>Catechesis Map</title>

        <!-- STYLES CSS -->
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/css/landing-page.css">
        <link rel="stylesheet" type="text/css" href="/css/animations.css">

        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="page-landing">
            <div id="container">
                <header>
                    <img 
                        class="animate-up"
                        id="logo"
                        src="/assets/catechesis-logotipo.svg" 
                        alt="Logotipo Catechesis" >
            
                    <div class="location animate-up">
                        <strong>Fortaleza</strong>
                        <p>Ceará</p>
                    </div>
                </header>
                <main>            
                    <h1 class="animate-up">Tenha o céu mais perto de você</h1>
                    <section class="visit">
                        <p class="animate-up">
                            Encontre as igrejas que estão à sua volta e viva a experiência de sempre estar próximo ao sagrado              
                        </p>
                        <a href="/churchs" title="Visite as igrejas" class="animate-up">
                            <img src="/assets/Arrow-Right.svg" alt="Ir para o mapa">
                        </a>
                    </section>
                </main>
            </div>
        </div>
    </body>
</html>